@font-face {
  font-family: "HelveticaUltra";
  src: url("../../fonts/ultrathin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "HelveticaThin";
  src: url("../../fonts/thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "HelveticaLight";
  src: url("../../fonts/light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

/* line 21, ../sass/main.sass */
img {
  pointer-events: none;
}

/* line 25, ../sass/main.sass */
html {
  width: 100%;
  height: 100%;
}

/* line 30, ../sass/main.sass */
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  cursor: default;
}

/* line 1, ../sass/_ribbon.sass */
.ribbon {
  padding-top: 10px;
  height: 40px;
  margin-bottom: 5px;
}

/* line 9, ../sass/_ribbon.sass */
.ribbon-line {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
}

/* line 20, ../sass/_ribbon.sass */
.ribbon-title-names {
  position: absolute;
  top: 15px;
  left: 60px;
  color: white;
  text-transform: uppercase;
}

/* line 32, ../sass/_ribbon.sass */
.ribbon-title-name {
  font-weight: bold;
}

/* line 36, ../sass/_ribbon.sass */
.ribbon-title-subnameSelector {
  position: absolute;
  top: 18px;
  left: 0px;
  color: white;
  text-transform: uppercase;
  width: 400px;
}
/* line 48, ../sass/_ribbon.sass */
.ribbon-title-subnameSelector .ribbon-title-subnameSelected {
  display: inline-block;
  margin-right: 10px;
}

/* line 51, ../sass/main.sass */
.master {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
/* line 62, ../sass/main.sass */
.master .master-bg {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -700px;
  background: black url(../../images/bg.jpg) 0 0 repeat;
}
/* line 74, ../sass/main.sass */
.master .master-inside {
  background-color: transparent;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  -webkit-overflow-scrolling: touch;
}
/* line 85, ../sass/main.sass */
.master .master-inside .ribbon-page {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
/* line 94, ../sass/main.sass */
.master .master-inside .ribbon-page .insider {
  width: 100%;
  padding-bottom: 70px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
/* line 107, ../sass/main.sass */
.master .master-inside .ribbon-page .insider .pullDown {
  padding-left: 10px;
}
/* line 114, ../sass/main.sass */
.master .master-inside .ribbon-page .insider .item {
  width: 100%;
  height: 75px;
  overflow: hidden;
}
/* line 126, ../sass/main.sass */
.master .master-inside .ribbon-page .insider .item .item-songname {
  position: absolute;
  left: 75px;
  top: 15px;
  font-size: 18px;
  white-space: nowrap;
}
/* line 134, ../sass/main.sass */
.master .master-inside .ribbon-page .insider .item .item-artist {
  position: absolute;
  left: 75px;
  top: 45px;
  font-size: 18px;
}
/* line 141, ../sass/main.sass */
.master .master-inside .ribbon-page .insider .item .item-poster {
  position: absolute;
  left: 5px;
  top: 5px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}
/* line 153, ../sass/main.sass */
.master .master-inside .ribbon-page .insider .video-item {
  height: 100px !important;
}
/* line 157, ../sass/main.sass */
.master .master-inside .ribbon-page .insider .video-item .video-item-poster {
  width: 90px !important;
  height: 90px !important;
}
/* line 162, ../sass/main.sass */
.master .master-inside .ribbon-page .insider .video-item .video-item-songname {
  left: 100px;
  top: 10px;
}
/* line 167, ../sass/main.sass */
.master .master-inside .ribbon-page .insider .video-item .video-item-artist {
  left: 100px;
  top: 40px;
}
/* line 172, ../sass/main.sass */
.master .master-inside .ribbon-page .insider .video-item .video-item-time {
  position: absolute;
  top: 70px;
  font-size: 18px;
  left: 100px;
}
/* line 179, ../sass/main.sass */
.master .master-inside .ribbon-page .insider .album-icon {
  position: absolute;
  left: 20px;
  top: 20px;
  height: 35px;
  width: 35px;
  z-index: 10;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5) url(../../images/next.png) 0 0 no-repeat;
  background-size: cover;
  opacity: 0.8;
}
/* line 195, ../sass/main.sass */
.master .master-inside .ribbon-page .insider .simple-songname {
  padding-left: 25px;
  padding-bottom: 25px;
}
/* line 200, ../sass/main.sass */
.master .master-inside .ribbon-page .insider .simple-songname .simple-icon {
  position: absolute;
  right: 25px;
  top: 0;
  height: 20px;
  width: 20px;
  background: transparent url(../../images/more.png) 0 0 no-repeat;
  background-size: cover;
}

/* line 209, ../sass/main.sass */
.musicplayer {
  background: black url(../../images/bg.gif) 0 0 repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
}
/* line 219, ../sass/main.sass */
.musicplayer video {
  height: 100%;
  width: 100%;
}
/* line 224, ../sass/main.sass */
.musicplayer .musicplayer-songname {
  font-size: 18px;
  white-space: nowrap;
  position: absolute;
  left: 75px;
  top: 10px;
}
/* line 233, ../sass/main.sass */
.musicplayer .musicplayer-artist {
  position: absolute;
  left: 75px;
  top: 30px;
}
/* line 239, ../sass/main.sass */
.musicplayer .musicplayer-poster {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 84px;
  overflow: hidden;
}
/* line 249, ../sass/main.sass */
.musicplayer .musicplayer-poster img {
  max-width: 100%;
  height: 100%;
}
/* line 255, ../sass/main.sass */
.musicplayer .musicplayer-poster .musicplayer-lyric {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 266, ../sass/main.sass */
.musicplayer .musicplayer-button {
  border-radius: 50%;
  border: 2px solid white;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  background-size: cover !important;
  display: inline-block;
}
/* line 276, ../sass/main.sass */
.musicplayer .musicplayer-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 54px;
  width: 100%;
  box-sizing: padding-box;
}
/* line 286, ../sass/main.sass */
.musicplayer .musicplayer-buttons .musicplayer-next {
  background: transparent url(../../images/next.png) 0 0 no-repeat;
}
/* line 290, ../sass/main.sass */
.musicplayer .musicplayer-buttons .musicplayer-prev {
  background: transparent url(../../images/prev.png) 0 0 no-repeat;
}
/* line 294, ../sass/main.sass */
.musicplayer .musicplayer-buttons .musicplayer-play {
  background: transparent url(../../images/pause.png) 0 0 no-repeat;
}
/* line 299, ../sass/main.sass */
.musicplayer .musicplayer-buttons .musicplayer-pause {
  background: transparent url(../../images/play.png) 0 0 no-repeat;
}
/* line 303, ../sass/main.sass */
.musicplayer .musicplayer-playtop {
  background: transparent url(../../images/pause.png) 0 0 no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  background-size: cover;
  height: 28px;
  width: 28px;
}
/* line 315, ../sass/main.sass */
.musicplayer .musicplayer-pausetop {
  background: transparent url(../../images/play.png) 0 0 no-repeat;
}
/* line 319, ../sass/main.sass */
.musicplayer .musicplayer-postertop {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: padding-box;
}
/* line 332, ../sass/main.sass */
.musicplayer .musicplayer-hide {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent url(../../images/down.png) 0 0 no-repeat;
  background-size: cover;
  height: 28px;
  width: 28px;
}
/* line 343, ../sass/main.sass */
.musicplayer .musicplayer-seekcontainer {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 60px;
  height: 20px;
  overflow: hidden;
}
/* line 355, ../sass/main.sass */
.musicplayer .musicplayer-seekcontainer .musicplayer-seekbar {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #999999;
}
/* line 366, ../sass/main.sass */
.musicplayer .musicplayer-seekcontainer .musicplayer-seeker {
  position: absolute;
  top: 4px;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: white;
}
/* line 379, ../sass/main.sass */
.musicplayer .musicplayer-seekcontainer .musicplayer-buffer {
  position: absolute;
  top: 10px;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #222222;
}

/* line 390, ../sass/main.sass */
.rightSwipe {
  background-color: #222222;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  padding-top: 50px;
}
/* line 401, ../sass/main.sass */
.rightSwipe .menu-item {
  color: #eeeeee;
  margin: 0px 0px 10px 10px;
  text-overflow: hidden;
  font-size: 20px;
}

/* line 408, ../sass/main.sass */
.rightSwipeBtn {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  background: transparent url(../../images/card.png) no-repeat center;
  background-size: cover !important;
  border-radius: 50%;
  border: 2px solid white;
}

/* line 423, ../sass/main.sass */
.settings {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: black url(../../images/bg.gif) 0 0 repeat;
  padding-top: 40px;
}
/* line 434, ../sass/main.sass */
.settings .settings-checkbox {
  margin-left: 10px;
  margin-bottom: 10px;
}
