.ribbon

	padding-top: 10px
	height: 40px
	margin-bottom: 5px

	// overflow: scroll

.ribbon-line

	position: absolute
	top: 60px
	left: 0
	right: 0

	height: 2px

	background-color: #fff

.ribbon-title-names

	// background-size: cover!important

	position: absolute
	top: 20px
	left: 10px

	color: white

	text-transform: uppercase

// .ribbon-title-home

// 	background: transparent url(../../images/icons/white/whome40.png) 0 0 no-repeat

// .ribbon-title-artist

// 	background: transparent url(../../images/icons/white/wartist40.png) 0 0 no-repeat

// .ribbon-title-album

// 	background: transparent url(../../images/icons/white/walbum40.png) 0 0 no-repeat

// .ribbon-title-song

// 	background: transparent url(../../images/icons/white/wsong40.png) 0 0 no-repeat

// .ribbon-title-video

// 	background: transparent url(../../images/icons/white/wvideo40.png) 0 0 no-repeat
